<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cakrab.project_mobile_vcare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_Mobile_VCare">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBDgYfMd6BRJkAHR7P0YCX1XTKGyQw7-Xo" />

        <activity
            android:name=".FaqActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Admin.Garage.EditGarageActivity"
            android:parentActivityName=".Admin.Garage.GarageActivity" />
        <activity
            android:name=".Admin.Garage.CreateGarageActivity"
            android:parentActivityName=".Admin.Garage.GarageActivity" />
        <activity
            android:name=".Admin.Garage.GarageActivity"
            android:parentActivityName=".Admin.AdminActivity" />
        <activity
            android:name=".Admin.News.EditNewsActivity"
            android:parentActivityName=".Admin.News.NewsActivity" />
        <activity
            android:name=".Admin.News.CreateNewsActivity"
            android:parentActivityName=".Admin.News.NewsActivity" />
        <activity
            android:name=".Admin.News.NewsActivity"
            android:parentActivityName=".Admin.AdminActivity" />
        <activity
            android:name=".EditProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Admin.AdminActivity"
            android:theme="@style/Theme.Project_Mobile_VCare.NoActionBar" />
        <activity
            android:name=".DetailGarageActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DetailForumActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DetailNewsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Project_Mobile_VCare.NoActionBar" />
        <activity
            android:name=".Auth.RegisterActivity"
            android:theme="@style/Theme.Project_Mobile_VCare.NoActionBar" />
        <activity
            android:name=".Auth.LoginActivity"
            android:theme="@style/Theme.Project_Mobile_VCare.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.Project_Mobile_VCare.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>